@font-face {
    font-family: 'Poppins';
    src: url(Fontes/Poppins-ExtraLight.ttf);
}
.container {
    height: 1000px;
    background-image: url(IMG/Fundo2.png);
    background-size: 100%;
    justify-content: center;
    align-items: auto;
    display:flex;
    padding:30px;
    text-align: center;
    position: relative;
}

.unicornio {
    align-items: top;
    display: flex;
    justify-content:center;
    width: 700px;
    height: 300px;
}

.titulo {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: inline-block;
    top: 40%;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #A0004B;
    font-family: Poppins;
    }

.whatsapp {
    text-decoration: #fff;
    width: 160px;
    text-align: center;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: #A0004B;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}

.whatsapp:hover {
    box-shadow: 2px 2px 2px black;
}

.loja {
    text-decoration: none;
    width: 160px;
    text-align: center;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: #780A3E;
    top: 56%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
    color: #fff;
}

.catalogo:hover {
    box-shadow: 2px 2px 2px black;
}

.instagram {
    text-decoration: none;
    width: 160px;
    text-align: center;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: #3F0520;
    top: 62%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}

.instagran:hover {
    box-shadow: 2px 2px 2px black;
}

.trabalhos {
    text-decoration: none;
    width: 160px;
    text-align: center;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: #780A3E;
    top: 68%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}

.twitter:hover {
    box-shadow: 2px 2px 2px black;
}

.endereço{
    text-decoration: none;
    width: 160px;
    text-align: center;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    background-color: #A0004B;
    top: 74%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 2px 2px black;
}

.endereço:hover {
    box-shadow: 2px 2px 2px black;
}

.motivacional {
    text-align: center;
    align-items: center;
    justify-content: center;
    top: 90%;
    left:50%;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #A0004B;
    font-family: Poppins;
    }



    
